import React from 'react';

interface {{pascalCase name}}Props {
  // Add props here
}

const {{pascalCase name}}: React.FC<{{pascalCase name}}Props> = () => {
  return (
    <div>
      <h1>{{pascalCase name}} Page</h1>
    </div>
  );
};

export default {{pascalCase name}}; 